* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas;
}

body {
    overflow: hidden;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#f00, rgba(0, 0, 0, 0.5)), url(wall.png);
    background-blend-mode: multiply;
    animation: animationBgColor 5s linear infinite;
}

@keyframes animationBgColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: radial-gradient(transparent, transparent);
    border-radius: 50%;
}

section::after {
    content: '';
    padding: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: radial-gradient(rgba(247, 4, 4, 0.75), transparent, transparent);
    border-radius: 50%;
}

.icon {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
    text-align: center;
}

.icon svg path {
    stroke: #fff;
    stroke-width: 10px;
    fill: transparent;
    filter: drop-shadow(0 20px 10px #000) blur(2px);
}

.icon h1 {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    text-shadow: 0 10px 10px #000;
    box-shadow: 10px 0 0 #fff;
    overflow: hidden;
    animation: textTyping 3s steps(7) infinite;
}

@keyframes textTyping {
    0%,
    90%,
    100% {
        width: 10px;
    }
    30%,
    60% {
        width: 123.16px;
    }
}
